{{extend 'plugin_jqmobile/layout.html'}}

<h2>Logged in as:</h2>
{{=crud.read(db.auth_user,user)}}

<h2>About SHAC</h2>

This is the SHAC client, the Smart House Access Control (SHAC) front-end for Hackerspace <A HREF="http://www.house4hack.co.za/">House4Hack</A>
<p>
Wanna know how it works, watch this video : <A HREF="http://www.youtube.com/watch?v=iaT_dSM4ViM">H4H SHAC overview</A>
<p>
Wanna learn how to implement this all yourself, hang around da House!
<p>
This <A HREF="http://www.web2py.com/">web2py</A> SHAC Cloud enabled or Stand-alone web front-end was written by <A HREF="mailto:philipbooysen@gmail.com">Philip Booysen &lt;philipbooysen@gmail.com&gt;</A>
<p>
The complete SHAC implementation and all ideas around it has been a collaborative effort by House4Hackers for House4Hackers.

