{{extend 'plugin_jqmobile/layout.html'}}
<center>
<h2>Door Access</h2>
<div style="background: #f0f0f0; margin-bottom: 5px; padding: 8px;">

<form name="gate" enctype="multipart/form-data" method="post" action="{{=URL()}}">
<div class="hidden"><input name="_formname" value="gate" type="hidden"></div>
<table width=80%>
 <tr>
  <td><INPUT TYPE="checkbox" NAME="led1"></td>
  <td><INPUT TYPE="checkbox" NAME="led2"></td>
  <td><INPUT TYPE="checkbox" NAME="led3"></td>
  <td><INPUT TYPE="checkbox" NAME="led4"></td>
  <td><INPUT TYPE="checkbox" NAME="led5"></td>
 </tr>
 <tr>
  <td colspan=5 align=center>
   &nbsp;
  </td>
 </tr>
 <tr>
  <td colspan=5 align=center>
   <img onclick='document.forms[0].submit()' src="{{=URL('static','images/gate.jpg')}}">
  </td>
 </tr>
</table>
</form>

</div>
</center>
